.about__icons {
    display: flex;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 40px;
    @include respond-below(sm) {
        height: 100%;
    }
}

.a__icon--power {
    position: absolute;
    left: 0;
    top: -150px;
    color: $cyan;
    font-size: 5em;
    @include respond-below(xlg) {
        top: -100px;
    }
    @include respond-below(lg) {
        font-size: 4.5em;
    }
    @include respond-below(sm) {
        top: 25%;
        font-size: 3.5em;
    }
    @include respond-below(xxs) {
        top: 20%;
    }
    svg {
        position: absolute;
        left: 0;
        @include respond-above(xlg) {
            transform: translateX(-100%) rotate(30deg);
        }
        @include respond-below(xlg) {
            transform: translateX(0) rotate(30deg);
        }
        @include respond-below(sm) {
            transform:  rotate(30deg) translateY(-50%);    
        }
    }
}

.a__icon--superscript {
    position: absolute;
    left: 25%;
    color: $pink;  
    z-index: 100;
    svg {
        @include respond-above(lg) {
            transform: translateX(40%) translateY(-100%) rotate(-20deg);
        }
        @include respond-below(lg) {
            transform: translateX(0%) translateY(-100%) rotate(-20deg);
        }
        @include respond-below(sm) {
            transform: translateX(0%) translateY(70%) rotate(10deg);
        }
        @include respond-below(xxs) {
            transform: translateX(0%) translateY(25%) rotate(10deg);
        }
    }
    @include respond-above(lg) {
        font-size: 5em;
        top: 20px;
    }
    @include respond-below(lg) {
        top: 0px;
        font-size: 4em;
    }
    @include respond-below(sm) {
        top: 100%;
        font-size: 3.5em;
    }
    @include respond-below(xxs) {
        font-size: 3em;
    }
}

.a__icon--ruler {
    position: absolute;
    right: 25%;
    top: -30px;
    svg {
        @include respond-above(lg) {
            transform: translateX(-50%) translateY(-100%) rotate(-20deg);
        }
        @include respond-below(lg) {
            transform: translateX(-50%) translateY(-40%) rotate(-20deg);
        }
        @include respond-below(sm) {
            transform: translateX(-20%) translateY(75%) rotate(-20deg);
        }
        @include respond-below(xxs) {
            transform: translateX(-20%) translateY(25%) rotate(-20deg);
        }
    }
    @include respond-above(lg) {
        font-size: 4.2em;
    }
    @include respond-below(lg) {
        font-size: 4em;
    }
    @include respond-below(sm) {
        top: 100%;
        font-size: 3.5em;
    }
    @include respond-below(xxs) {
        font-size: 3em;
    }
    color: $cyan;
    z-index: 100;
}

.a__icon--triangles {
    position: absolute;
    width: 90px;
    height: auto;
    right: 0;
    top: -130px;
    @include respond-below(lg) {
        top: -100px;
    }
    @include respond-below(sm) {
        top: 20%;
    }
    @include respond-below(xxs) {
        top: 15%;
    }
    img {
        position: absolute;
        @include respond-above(xlg) {
            transform: translateX(55%)
        }
        @include respond-below(xlg) {
            transform: translateX(0%);
        }
        @include respond-below(lg) {
            width: 70px;
        }
        @include respond-below(md) {
            right: 0;
            transform: translateX(-30%);
        }
        @include respond-below(sm) {
            width: 60px;
            transform: translateX(-40%) rotate(-15deg);
        }
        @include respond-below(xxs) {
            transform: translateX(-25%) rotate(-15deg)
        }
    }
}