.about-me {
    position: relative;
    min-height: 500px;
    @include respond-below(sm) {
        height: 100vh;
        padding-bottom: 16%;
        min-height: 0;
        max-height: 650px;
    }
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.row--about {
    @include respond-below(md) {
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    @include respond-below(sm) {
        position: relative;
        flex-direction: column;
    }
    z-index: 2;
}

.about__photo-con {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 10px;
}

.about__photo {
    max-width: 241px;
    @include respond-below(sm) {
        max-width: 160px;
    }
    @include respond-below(xs) {
        max-width: 144px;
    }
    width: 100%;
    height: auto;
    border-radius: 50%;
    img, div {
        border-radius: 50%;
    }
}

.about__photo--gradient-con {
    max-width: 241px;
    @include respond-below(sm) {
        max-width: 160px;
    }
    @include respond-below(xs) {
        max-width: 144px;
    }
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
}

.about__photo--gradient {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100.5%;
    top: 0;
    max-width: 241px;
    @include respond-below(sm) {
        max-width: 160px;
    }
    @include respond-below(xs) {
        max-width: 144px;
    }
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;
}

.about__text-con {
    @include respond-above(sm) {
        min-height: 187px;
        padding-left: 10px;   
        padding-right: 10px; 
    }
    @include respond-above(md) {
        min-height: 241px;
        padding-left: 26px;
    }
    
    @include respond-below(sm) {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
        align-items: center;
    }
    @include respond-below(xs) {
        margin-top: 15px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    transition: all 0.3s ease;
}

.about__title {
    display: block;
    min-height: 40px;
    @include respond-below(sm) {
        text-align: center;
        width: 100%;
    }
}

.about__text-con p {
    display: block;
    text-align: left;
    min-height: 140px;
    @include respond-above(md) {
        font-size: 1.1em;
        line-height: 1.5em;
    }
    @include respond-above(lg) {
        font-size: 1.18em;
        line-height: 1.7em;
    }
    @include respond-below(md) {
        font-size: 1.1em;
        line-height: 1.4em;
    }
    @include respond-below(sm) {
        text-align: center;
        font-size: 1.1em;
    }
    @include respond-below(xs) {
        font-size: 1.05em;
    }
    
   
}

