.floating-shapes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    @include respond-below(xs) {
        display: none;
    }
}

.shape__pink, .shape__cyan {
    position: absolute;
    
}


.shape__pink {
    left: 0;
    @include respond-below(md) {
        width: 300px;
    }
    @include respond-below(sm) {
        width: 280px;
    }
    @include respond-below(xs) {
        display: none;
    }
}

.shape__cyan {
    right: 0;
    @include respond-below(md) {
        width: 320px;
    }
    @include respond-below(sm) {
        width: 270px;
    }
    @include respond-below(xs) {
        width: 280px;
    }
}