footer { 
    padding: 48px 20px 25px;
    background-color: $white;
    background: linear-gradient(30deg ,#ff55B5 0, $cyan 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    @include respond-below(sm) {
        padding: 48px 0 25px;
    }
}

.footer__title {
    margin-bottom: 15px;
    @include respond-above(md) {
        font-size: 2.35em;
    }
    @include respond-above(xxs) {
        font-size: 2.2em;
    }
}

.footer__form-container {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    @include respond-below(xs) {
        flex-direction: column;
    }
}

.footer__form {
    input, textarea, button {
        background-color: $white;
        font-size: 1.14em;
        padding: 16px 23px;
        color: $text;
        border: none;
        outline: none;
        font-weight: 400;
        margin-bottom: 20px;
        -webkit-appearance: none;
        border-radius: 0;
        &::placeholder {
            color: $text;
            font-family: 'Montserrat';
        }
        @include respond-below(sm) {
            font-size: 1em;
            padding: 13px 18px;
        }
    }
}

.form__row input {
    width: calc( 50% - 10px );
    @include respond-below(xs) {
        width: 100%;
    }
}

.form__row textarea {
    width: 100%;
    resize: none;
    min-height: 151px;
}

.form__row--buttons {
    position: relative;
    @include respond-below(xs) {
        flex-wrap: wrap;
    }
}

.form__terms {
    max-width: 206px;
    @include respond-below(xs) {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        max-width: unset;
        width: 100%;
        padding-right: 80px;
        transform: translateY(-37px);
        font-size: 0.95em;
    }
    @include respond-below(xxs) {
        font-size: 0.85em;
    }
}

.form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    @include respond-below(xs) {
        flex-direction: column-reverse;
        width: 100%;
    }
}

.form__buttons span {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    @include respond-below(xs) {
        width: 100%;
    }
}

.form__buttons a {
    display: inline-block;
    font-size: 2.7em;
    margin-right: 11px;
    transition: all 0.2s ease;
    &:hover {
        color: $pink;
    }
    @include respond-below(sm) {
        font-size: 2.3em;
    }
    @include respond-below(xs) {
        margin-right: 5.5px;
        margin-left: 5.5px;
        margin-top: 10px;
    }
}

.form__buttons button {
    min-width: 174px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 8px;
    transition: all 0.2s ease;
    margin-bottom: 0;
    @include respond-below(sm) {
        min-width: 164px;
    }
    @include respond-below(xs) {
        width: 100%;
        margin-left: 0;
    }
    &:hover {
        color: $cyan
    }
}

.footer__rights {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-top: 25px;
    @include respond-below(xs) {
        margin-top: 15px;
    }
}