header { 
    width: 100%;
    height: 100vh;
    min-height: 568px;
    max-height: 1080px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.header__particles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100vh;
    max-height: 1080px;
}

.header__particles-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 1080px;
    z-index: -1;
}

.header__slogans {
    display: flex;
    flex-direction: column;
    @include respond-below(sm) {
        width: 100%;
    }
    
}

.header__language-switch {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.5em;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        color: $cyan;
    }
}

.header__slogans h1, .header__slogans h2, .header__slogans h3 {
    font-size: 2.45em;
    margin: 0;
    position: relative;
    @include respond-below(sm) {
        text-align: center;
    }
    @include respond-below(xs) {
        font-size: 1.9em;
    }
    @include respond-below(xxs) {
        font-size: 1.6em;
    }
}

.header__slogans h3 {
    @include respond-above(sm) {
        text-align: right;
    }
    @include respond-below(sm) {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

.slogan__icon {
    font-size: 1.3em;
    @include respond-above(sm) {    
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(5px, -50%);
    }
    @include respond-below(sm) {
        margin-left: 5px;
    }
}

.header__scroll {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    font-size: 4.5em;
    @include respond-below(sm) {
        font-size: 4em;
    }
}

.scroll__arrows {
    transition: all 0.2s ease;
    color: $cyan;
    cursor: pointer;
    &:hover {
        color: $pink;
    }
}