.mile-steps {
    margin-top: 100px;
    @include respond-below(md) {
        margin-top: 70px;
    }
    @include respond-below(xs) {
        margin-top: 20px;
    }
}

.row--mile-steps {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    @include respond-below(md) {
        justify-content: space-between;
    }
    @include respond-below(sm) {
        flex-wrap: wrap;
        margin-top: 8px;
    }
}

.mile__step-set {
    position: relative;
    min-height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    @include respond-above(xlg) {
        margin-left: 15px;
        margin-right: 15px;
    }
    @include respond-below(xlg) {
        margin-right: 10px;
        margin-right: 10px;
    }
    @include respond-below(lg) {
        margin-right: 0px;
        margin-left: 0px;
    }
    @include respond-below(sm) {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

}

.step__shoe {
    @include respond-above(xlg) {
        height: 31px;
        width: 72px;
    }
    @include respond-below(xlg) {
        height: 27px;
        width: 63px;
    }
    @include respond-below(lg) {
        height: 27px;
        width: 60px;
    }
}

.step__shoe--right { 
    margin-top: auto;
    @include respond-below(md) {
        display: none;
    }
}

.step__shoe--left {
    transform: scaleY(-1) rotate(-10deg);
    @include respond-below(sm) { 
        transform: rotate(90deg);
    }
}
.step__content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-left: 10px;
    min-width: 220px;
    @include respond-below(lg) {
        min-width: 175px;
    }
    @include respond-below(md) {
        margin-left: 0
    }
    @include respond-below(sm) { 
        flex-direction: row;
        width: 100%;
    }
}

.step__text-container {
    position: absolute;
    top: 100%;
    transform: translateY(-30px);
    text-align: center;
    @include respond-below(sm) {
        position: relative;
        text-align: left;
        transform: none;
        top: 0;
    }
}

.step__time {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.28em;
    line-height: 1.21em;
}

.step__desc {
    margin-top: 1px;
    line-height: 1.21em;
}