.more-to-do {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 280px;
    @include respond-below(sm) {
        height: unset;
        padding-bottom: 50px;
    }
}

.more-to-do__title { 
    @include respond-below(xs) {
        font-size: 1.45em;
    }
    @include respond-below(xxs) {
        font-size: 1.3em;
    }
}