.notification { 
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    color: $pink;
    font-weight: 500;
    font-size: 1.1em;
    padding: 5px 15px;
    min-width: 150px;
    text-align: center;
}