.skills__wheel-placeholder {
    position: relative;
    padding-left: 20px;
    min-width: 276px;
    @include respond-below(sm) {
        position: absolute;
        width: 276px;
        left: 100%;
        transform: translateX(-60%);
    }
    @include respond-below(xs) {
        transform: translateX(-30%);
    }
}

.skills__wheel-con {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.skills__wheel-con-filler {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    padding-bottom: 100%;
}

@keyframes rotate__wheel {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.skills__wheel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: dashed 3px $cyan;
    border-radius: 50%;
    transition: all 10s linear;
    animation-name: rotate__wheel;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate__skill {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.skill {
    position: absolute;  
    font-size: 100px;
    color: $text;
    animation-name: rotate__skill;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.skill--php {
    width: 125px;
    height: 85px;
    left: calc( 50% - 62.5px );
    top: calc( 0% - 42.5px );
    @include respond-below(lg) {
        top: calc( 0% - 37.5px );
        height: 75px;
    }
    @include respond-below(md) {
        top: calc( 0% - 30.5px );
        height: 60px;
    }
    @include respond-below(xs) {
        height: 55px;
    }
}

.skill--sass {
    width: 125px;
    height: 75px;
    left: calc( 86% - 62.5px );
    top: calc( 15% - 37.5px );
    @include respond-below(lg) {
        height: 65px;
    }
    @include respond-below(md) {
        height: 55px;
    }
    @include respond-below(xs) {
        top: calc( 15% - 24px );
        height: 45px;
    }
}

.skill--js {
    width: 82px;
    height: 82px;
    left: calc( 100% - 37.5px );
    top: calc( 50% - 52.5px );
    @include respond-below(lg) {
        top: calc( 50% - 45.5px );
        height: 72px;
    }
    @include respond-below(md) {
        top: calc( 50% - 37.5px );
        height: 62px;
    }
    @include respond-below(xs) {
        height: 52px;
    }
}

.skill--css {
    height: 95px;
    left: calc( 87% - 37.5px );
    bottom: calc( 15% - 47.5px );
    @include respond-below(lg) {
        bottom: calc( 15% - 42.5px );
        height: 85px;
    }
    @include respond-below(md) {
        bottom: calc( 15% - 37.5px );
        height: 75px;
    }
    @include respond-below(xs) {
        bottom: calc( 15% - 25px );
        height: 60px;
    }
}

.skill--html {
    height: 95px;
    left: calc( 50% - 27.5px );
    bottom: calc( 0% - 47.5px );
    @include respond-below(lg) {
        height: 85px;
    }
    @include respond-below(md) {        
        left: calc( 50% - 31.5px );
        bottom: calc( 0% - 37.5px );
        height: 75px;
    }
    @include respond-below(xs) {
        bottom: calc( 0% - 29px );
        height: 60px;
    }
}

.skill--react {
    height: 90px;
    right: calc( 83% - 37.5px );
    bottom: calc( 15% - 47.5px );
    @include respond-below(lg) {
        bottom: calc( 15% - 42.5px );
        height: 78px;
    }
    @include respond-below(md) {
        bottom: calc( 15% - 37.5px );
        height: 70px;
    }
    @include respond-below(xs) {
        height: 60px;
        right: calc( 83% - 40px );
        bottom: calc( 15% - 30px );
    }
}

.skill--wordpress {
    height: 80px;
    right: calc( 100% - 50.5px );
    top: calc( 50% - 53.5px );
    @include respond-below(lg) {
        height: 70px;
        top: calc( 50% - 43.5px );
    }
    @include respond-below(md) {
        top: calc( 50% - 37.5px );
        height: 60px;
    }
    @include respond-below(xs) {
        top: calc( 50% - 20px );
        height: 50px;
    }
}

.skill--git {
    width: 125px;
    height: 75px;
    top: calc( 15% - 50.5px );
    right: calc( 86% - 62.5px );
    @include respond-below(lg) {
        top: calc( 20% - 50.5px );
        right: calc( 86% - 42.5px );
        height: 65px;
    }
    @include respond-below(md) {
        top: calc( 18% - 50.5px );
        right: calc( 90% - 62.5px );
        height: 55px;
    }
    @include respond-below(xs) {
        top: calc( 18% - 40px );
        right: calc( 90% - 57.5px );
        height: 45px;
    }
}