.skills {
    min-height: 430px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5% 0;
    overflow: hidden;
    max-width: 100%;
    @include respond-below(sm) {
        padding: 70px 0 40px;
    }
}

.row--skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.skills__text-con p {
    text-align: left;
    padding-right: 11%;
    @include respond-below(lg) {
        padding-right: 9%;
    }
    @include respond-above(md) {
        font-size: 1.1em;
        line-height: 1.5em;
    }
    @include respond-above(lg) {
        font-size: 1.18em;
        line-height: 1.7em;
    }
    @include respond-below(md) {
        font-size: 1.08em;
        line-height: 1.4em;
        padding-right: 7%;
    }
    @include respond-below(sm) {
        font-size: 1.05em;
        padding-right: 30%;
    } 
}