body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $text;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.site {
    position: relative;
    overflow-x: hidden;
}