.section__title {
    @include respond-above(md) {
        font-size: 2em;
    }
    @include respond-above(lg) {
        font-size: 2.3em;
    }
    @include respond-below(xs) {
        font-size: 1.8em;
    }
    @include respond-below(xxs) {
        font-size: 1.75em;
    }
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.font--900 {
    font-weight: 900;
}

.font--800 {
    font-weight: 800;
}

.font--700 {
    font-weight: 700;
}

.font--600 {
    font-weight: 600;
}

.font--500 {
    font-weight: 500;
}

.font--400 {
    font-weight: 400;
}

.font--300 {
    font-weight: 300;
}

.font--200 {
    font-weight: 200;
}

.font--100 {
    font-weight: 100;
}

.font--pink {
    color: $pink;
}

.font--cyan {
    color: $cyan;
}

.font--white {
    color: $white;
}