@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Thin.otf") format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-ExtraLight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Light.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-ExtraBold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Black.otf") format("opentype");
    font-weight: 900;
}

.font--900 {
    font-weight: 900;
}

.font--800 {
    font-weight: 800;
}

.font--700 {
    font-weight: 700;
}