.container {
    @include respond-above(sm) {
        max-width: 850px;
    }
    @include respond-above(md) {
        max-width: 950px;
    }
    @include respond-above(lg) {
        max-width: 1160px;
    }
    padding: 0 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container--f {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.col-3 {
    width: 25%;
    @include respond-below(sm) {
        width: 100%;
    }
}

.col-5 {
    width: 41.66%;
    @include respond-below(sm) {
        width: 100%;
    }
}

.col-7 {
    width: 58.33%;
    @include respond-below(sm) {
        width: 100%;
    }
}

.col-9 {
    width: 75%;
    @include respond-below(sm) {
        width: 100%;
    }
}

.col-s-9 {
    width: 66.66%;
}


.col-s-4 {
    width: 33.33%;
}

.col-s-9 {
    width: 95%;
}


.col-s-3 {
    width: 25%;
}